.RemoverJogador
{
	cursor: pointer;
}

.label
{
	white-space: normal;
}

#section-resultado
{
	display: none;
}

#btnSortearTimes
{
	width: 100%;
	padding: 20px;
	margin-top: 2%;
}

.botes-principais
{
	text-align: center;
}

.alert
{
	display: none;
}